%hover-under-line {
  position: relative;
}

%hover-under-line_after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ffffff;
  transition: all .3s linear;
}

%hover-under-line_hover-after {
  width: 100%;
}